<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Message Form</title>
</head>

<body>
    <h1>Message Form</h1>
    <p>
        「内容」は必ず書いてください。
    </p>

    <form action="#" method="POST">
        <table>
            <tr>
                <th>名前：</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>性別：</th>
                <td>
                    <label><input type="radio">男性</label>
                    <label><input type="radio">女性</label>
                    <label><input type="radio">その他</label>
                </td>
            </tr>
            <tr>
                <th>住所：</th>
                <td>
                    <select>
                        <option>東京都</option>
                        <option>埼玉県</option>
                        <option>千葉県</option>
                        <option>神奈川県</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>内容：</th>
                <td>
                    <textarea rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="送信">
                </td>
            </tr>
        </table>
    </form>

    <footer>
        <a href="/">TOP</a> | 
        <a href="./">Contact</a>
    </footer>
</body>

</html>